In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('characteristics_reviews.csv')

In [4]:
df.head()

                  review_id  _id_old  characteristic_id  review_id_old  value
0  5f160faa933bf6ba19c590fb       11                  5              5      5
1  5f160faa933bf6ba19c590fc       34                 22             13      3
2  5f160faa933bf6ba19c590fc       36                 24             13      5
3  5f160faa933bf6ba19c590fc       35                 23             13      4
4  5f160faa933bf6ba19c590fc       37                 25             13      4

In [6]:
df.to_csv("another_try.csv", index=False)