In [1]:
import pandas as pd
import numpy as np

df1 = pd.read_csv('reviews.csv')
df2 = pd.read_csv('reviews_original.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df1.head()

,_id,id,product_id,rating,summary,body,recommend,reported,reviewer_name,reviewer_email,response,helpfulness
0,ObjectId(5f160faa933bf6ba19c590fb),5,2,3,I'm enjoying wearing these shades,Comfortable and practical.,true,false,shortandsweeet,first.last@gmail.com,NaN,5
1,ObjectId(5f160faa933bf6ba19c590fc),13,7,5,Ye is good at everything,I mortgaged my house to pay for these,true,false,yecrazy,first.last@gmail.com,NaN,2
2,ObjectId(5f160faa933bf6ba19c590fd),1,1,5,This product was great!,I really did or did not like this product base...,true,false,funtime,first.last@gmail.com,NaN,8
3,ObjectId(5f160faa933bf6ba19c590fe),14,7,1,I don't like Kanye,I didn't buy the shoes but I don't like the ma...,false,true,taylor,first.last@gmail.com,NaN,0
4,ObjectId(5f160faa933bf6ba19c590ff),15,12,5,Sed repellat quo recusandae.,Vitae reiciendis aspernatur voluptatem labore ...,1,0,Pink.Purdy25,Donny.Jacobson11@yahoo.com,NaN,11

In [3]:
df2.head()

,id,product_id,rating,createdAt,summary,body,recommend,reported,reviewer_name,reviewer_email,response,helpfulness
0,1,1,5,2019-01-01,This product was great!,I really did or did not like this product base...,true,false,funtime,first.last@gmail.com,NaN,8
1,2,1,4,2019-01-11,This product was ok!,I really did not like this product solely beca...,false,false,mymainstreammother,first.last@gmail.com,NaN,2
2,3,2,4,2019-06-23,I am liking these glasses,They are very dark. But that's good because I...,true,false,bigbrotherbenjamin,first.last@gmail.com,Glad you're enjoying the product!,5
3,4,2,4,2019-03-12,They look good on me,I so stylish and just my aesthetic.,true,false,fashionperson,first.last@gmail.com,NaN,1
4,5,2,3,2019-04-14,I'm enjoying wearing these shades,Comfortable and practical.,true,false,shortandsweeet,first.last@gmail.com,NaN,5

In [12]:
merged = df1.merge(df2[['createdAt', 'id']], left_on="id", right_on="id", how="left").fillna("")

In [13]:
merged.head()

,_id,id,product_id,rating,summary,body,recommend,reported,reviewer_name,reviewer_email,response,helpfulness,createdAt
0,ObjectId(5f160faa933bf6ba19c590fb),5,2,3,I'm enjoying wearing these shades,Comfortable and practical.,true,false,shortandsweeet,first.last@gmail.com,,5,2019-04-14
1,ObjectId(5f160faa933bf6ba19c590fc),13,7,5,Ye is good at everything,I mortgaged my house to pay for these,true,false,yecrazy,first.last@gmail.com,,2,2018-12-13
2,ObjectId(5f160faa933bf6ba19c590fd),1,1,5,This product was great!,I really did or did not like this product base...,true,false,funtime,first.last@gmail.com,,8,2019-01-01
3,ObjectId(5f160faa933bf6ba19c590fe),14,7,1,I don't like Kanye,I didn't buy the shoes but I don't like the ma...,false,true,taylor,first.last@gmail.com,,0,2018-11-11
4,ObjectId(5f160faa933bf6ba19c590ff),15,12,5,Sed repellat quo recusandae.,Vitae reiciendis aspernatur voluptatem labore ...,1,0,Pink.Purdy25,Donny.Jacobson11@yahoo.com,,11,2019-04-11

In [14]:
merged._id=merged._id.str[9:-1]

In [15]:
merged = merged.rename(columns={"id":"old_id"})

In [16]:
merged.to_csv("reviews.csv", index=False)